.socials{
    column-gap: 4px;
    &__link {
        padding: 10px;
        border-radius: 2px;
       &:hover{
        background-color: rgba(22, 24, 22, 0.7);
       }
    }

    &__link--light-hover {
      border: solid;
       &:hover{
        background-color: rgba(255, 255, 255, 0.7);
       }
    }
}