

.feature__description {
  margin: 0 auto 0px;
}

.features__items {
  flex-direction: column;
  order: 1;
  margin: 0px;
}
.features__item:nth-child(2) {
  margin: 75px 0;
}

.video {
  padding: 0;
  margin: 50px 0 50px 0;
}


/* hero */

.hero__container {
  flex-direction: column;
  margin: 30px 20px;
  padding: 50px 0;
}
.hero__column,
.hero__img {
  width: 100%;
}
.hero__action {
  margin: 59px 0;
  display: flex;
  justify-content: center;
}
.hero__btn {
  margin: auto;
}
.hero__description {
  text-align: center;
}

/* cta */

.cta {
}
.cta__container {
  flex-direction: column;
}
.cta__mobile {
  display: block;
  text-align: center;
}
.cta__title {
  padding: 0;
  margin: 0 0 8px 0;
}
.cta__description {
  font: var(--font__h4);
}
.cta__left {
  overflow: hidden;
  height: 100%;
  width: calc(100% - 19px * 2);
  margin: auto;
}
.cta__img {
  margin: 59px 0;
}
.cta__right {
  max-width: 100%;
  margin: 0px 22px;
  text-align: center;
}
.cta__text {
  display: none;
}
.cta__action {
}
.cta__action-title {
  padding: 10px;
}
.cta__action-description {
  padding: 10px;
}
.cta__form {
  justify-content: center;
}
.cta__input {
  width: 353px;
  margin-right: 0px;
}

.cta__submit {
  width: 353px;
}

/* partners */

.partners {
}
.partners__container {
  padding: 50px 0;
}
.partners__text-content {
  width: 100%;
  padding: 0;
}
.partners__container > div {
  margin: 0px auto;
}

.partners__items-row {
  flex-direction: column;
  margin: 80px 0;
}
.partners__items-row:last-child {
  display: none;
}

.partners__item {
  padding: 25px 40px;
  width: 275px;
}
.partners__item:nth-child(2) {
  margin: 30px 0;
}
.partners__item:last-child {
  display: none;
}

/* tsts */


.testimonials__text {
  font: var(--font__h3);
}

/* pricing */

.pricing__container {
  width: 100%;
  margin: auto;
  padding: 100px 28px;
}

.pricing__items {
  flex-direction: column;
  padding: 18px 0;
}

.price-card:not(:last-child) {
  margin-right: 0px;
  margin-bottom: 50px;
}



/* contact */
.contacts {
}
.contacts__container {
  padding: 50px 20px;
  margin: 0 0 99px 0;
  width: 100%;
}

.contacts__text {
  margin-bottom: 50px;
}
.contacts__action {
  flex-direction: column;
  align-items: center;
}
.contacts__form {
  margin-bottom: 50px;
}
.form {
  order: 1;
}

.contacts__right {
  width: 100%;
  align-items: flex-start;
  margin-bottom: 50px;
}
.contacts__items {
  text-align: start;
  flex-direction: column;
  order: 1;
  padding: 18px 0;
}
.contacts__addres-item {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.contacts__addres-item:nth-child(2n) {
  margin: 10px 0;
}

.contacts__item-text {
  margin-left: 10px;
}
.contacts__map {
  display: none;
}
.contacts__social {
  margin: 0 auto 50px;
}





/*  footer */
.footer {
}
.footer__container {
  flex-direction: column;
  padding: 107px 0;
  align-items: center;
}
.footer__columns {
  grid-template-columns: 1fr;
}
.footer__column {
  text-align: center;
  margin-bottom: 76px;
}


.footer__contacts-item:nth-child(2) {
  display: flex;
  margin: 10px 0;
}

.footer__social {
  justify-content: center;
}





@media screen and (max-width: 540px) {
    .header {
    }
    .header__head {
      padding: 0 10px;
    }



    .contacts {
    }
    
    .contacts__form {
      margin-bottom: 50px;
      width: 100%;
      min-width: 330px;
    }
    
    .contacts__right {
      width: 100%;
      align-items: flex-start;
      margin-bottom: 50px;
    }
    .contacts__items {
      text-align: start;
      flex-direction: column;
      order: 1;
      padding: 18px 0;
    }
    .contacts__addres-item {
      display: flex;
      align-items: center;
      max-width: 100%;
    }
    .contacts__addres-item:nth-child(2n) {
      margin: 10px 0;
    }
    
    .contacts__item-text {
      margin-left: 10px;
    }
    .contacts__map {
      display: none;
    }
    .contacts__social {
      margin: 0 auto 50px;
    }

}