.feature__container {
  gap: 50px;
}
.feature__description {
  margin: 0 auto 0px;
}

.features__items {
  order: 1;
  gap: 75px;
  margin: 0px;
}

.video {
  padding: 0;
  margin: 0;
}

/* hero */
.hero__container {
  gap: 59px;
  padding: 50px 0px;
  margin: 30px 20px;
}
.hero__title {
  width: 100%;
}

.hero__column {
  text-align: center;
}
.hero__img {
  width: 94%;
}
.hero__action {
  display: flex;
  justify-content: center;
}
.hero__btn {
  margin: 59px auto 0;
}
.hero__description {
  text-align: center;
}

/* cta */

.cta__img {
  margin: 10px;
}
/* partners */

.partners {
}
.partners__container {
  padding: 50px 0;
}
.partners__text-content {
  width: 100%;
  padding: 0;
}

.partners__items-row {
  flex-direction: column;
  padding: 18px 0;
}
.partners__items-row:last-child {
  display: none;
}

.partners__item {
  padding: 25px 40px;
  width: 275px;
}
.partners__item:nth-child(2) {
  margin: 30px 0;
}
.partners__item:last-child {
  display: none;
}

/* tsts */

.testimonials__text {
  font: var(--font__h3);
}

/* pricing */

.pricing__container {
  width: 100%;
  margin: auto;
  padding: 100px 28px;
}

.pricing__items {
  flex-direction: column;
  padding: 18px 0;
}

/* contact */

.contacts__container {
  grid-template-columns:
    106px
    1fr
    106px;
    padding: 99px 30px;
    
}
.contacts__text {
  grid-area: 1/1/2/6;
  padding: 0;
}
.contacts__subtitle--lg{
  display: none;
}
.contacts__form {
  grid-area: 3/1/4/6; 
}
.form__title{
  text-align: center;
}
.contacts__right {
  grid-area: 2/1/3/6;
  grid-template-rows: 60px auto;
  grid-template-columns: 1fr;
  padding: 0;
}
.contacts__social {
  grid-area: 1/1/2/4;
  width: fit-content;
  margin: auto;
}
.contacts__items {
  grid-area: 2/1/3/2;
  grid-template-columns: 1fr;
  grid-auto-flow: row; 
  text-align: start;
  row-gap: 10px;
  padding: 18px 0;  
}
.contacts__addres-item {
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    grid-auto-rows: min-content;
    align-items: center;
  }
  .contacts__icon {
    width: fit-content;
    margin: 0;   
  }
  .contacts__item-text{
   padding: 10px ;
   word-wrap: break-word;
  }
.contacts__map{
  display: none;
}

/*  footer */
.footer {
}
.footer__container {
  flex-direction: column;
  padding: 107px 0;
  align-items: center;
}
.footer__columns {
  grid-template-columns: 1fr;
}
.footer__column {
  text-align: center;
  margin-bottom: 76px;
}

.footer__contacts-item:nth-child(2) {
  display: flex;
  margin: 10px 0;
}

.footer__social {
  justify-content: center;
}

@media screen and (max-width: 540px) {
  .header {
  }
  .header__head {
    padding: 0 10px;
  }

}

