@import url(./fonts.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url(./vars.css);
@import url(mobile.css) screen and (max-width: 480px);
@import url(zero.css);

:root {
  --divider: 0.8582;
  font-family: Graphik-Regular;
}
html,body{
  min-width: 418px;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0;
  width: 100%;
  background: conic-gradient(
      at 50% 90%,
      rgba(0, 0, 0, 0.1) 21%,
      #fff 21%,
      #fff 79%,
      rgba(0, 0, 0, 0.1) 79%
    ),
    url(./imgs/header/80b7ece24a3d47292461f8e199ffdd36.jfif) no-repeat 50% /
      cover;
  color: white;
  
}
.header__head {
  height: 133px;
  max-width: 1210px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  color: white;
 
}
.header__logo {
  height: calc(78px * var(--divider));
}
.header__burger {
  background: transparent;
  height: fit-content;
  display: none;
}
.header__burger-img {
}
.header__social {
  width: calc(170px * var(--divider));
  display: flex;
  justify-content: space-between;
}
.header__social-link:not(:last-child) {
}
.header__social-icon {
  height: fit-content;
  font-size: 32px;
}

.header__nav {
  display: flex;
  order: -1;
}
.header__nav-item {
  height: fit-content;
  padding: 10px;
  font-size: var(--font__link);
}
.header__nav-link {
  color: currentColor;
}
.header__body {
  height: 759.51px;
  width: 81.04%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__description {
  max-width: 826px;
  max-height: 335px;
  margin-top: 80px;
}
.header__title {
  text-align: center;
  font-family: Graphik-Bold;
  font-size: calc(50px + 24 * (100vw / 1777));
  padding: 7px;
  
}
.header__subtitle {
  text-align: center;
  font-size: var(--font__h4);
  line-height: var(--line__h4);
  padding: 7px;
}
.header__btn {
  width: 236px;
  height: 52px;
  margin-top: 60px;
}

.btn {
  background-color: var(--btn__color);
  border-radius: 50px;
  font-size: var(--font__btn);
  line-height: 20px;
  color: white;
  font: var(--font__h3);
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature__description {
  max-width: 552px;
  margin-bottom: 80px;
  margin: 0 auto 80px;
}
.feature__title {
  font: var(--font__h2);
  text-align: center;
}
.feature__subtitle {
  font: var(--font__h4);
  text-align: center;
}
.features__items {
  display: flex;
  max-width: 869px;
  margin-bottom: calc(80px * var(--divider));
}
.features__item {
  width: 255px;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
}
.item__img {
  width: 45px;
}
.item__title {
  font: var(--font__h3);
}
.item__text {
  font: var(--font__p);
}
.features__video {
}
.video {
  position: relative;
  max-width: 1058.19px;
  padding: 50px 0;
  width: 100%;
  
}
.video__player {
  width: 100%;
}
.video__btn {
  position: absolute;
  background-color: var(--btn__color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  width: 17vw;
  max-height: 300px;
  height: 17vw;
  border-radius: 50%;
}

.video__arrow {
  position: absolute;
  width: 20%;
  left: 50%;
  top: 50%;
  transform: translate(-45%, -50%);
}

.hero {
}
.hero__container {
  margin: 12.7% auto;
  display: flex;
  justify-content: space-between;
  max-width: 1243px;
  width: 95%;
  text-align: center;
  overflow: hidden;
}
.hero__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  flex: 1 0 42%;
}
.hero__description {
}
.hero__title {
  font: var(--font__h2);
  padding: 7px 0px;
}
.hero__subtitle {
  font: var(--font__h4);
  padding: 10px 0;
}
.hero__action {
}
.hero__btn {
  width: 236px;
  height: 60px;
}
.btn {
}
.hero__img {
  width: 53%;
  object-fit: scale-down;
  object-position: center;
  flex: 1 1 53%;
}

.cta {
}
.cta__container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.cta__mobile {
  display: none;
}

.cta__left {
  height: 532px;
  width: 854px;
  margin: 106px 50px 0px 50px;
  overflow: hidden;
  position: relative;
}
.cta__img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center;
}
.cta__right {
  margin: 59px 50px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 544px;
}
.cta__text {
  margin: 106px 0 15px 0;
}
.cta__title {
  font: var(--font__h3);
  padding: 7px 0;
}
.cta__subtitle {
  font: var(--font__h2);
  padding: 10px 0;
}

.cta__action {
  margin-bottom: 69px;
  min-height: 199px;
  padding: 10px;
}
.cta__action-title {
  font: var(--font__h3);
}
.cta__action-description {
  font: var(--font__p);
}
.cta__form {
  display: flex;
  padding: 34px 0;
  flex-wrap: wrap;
}
.cta__input {
  width: 273px;
  height: 58px;
  margin-bottom: 12px;
}
.input {
  background-color: var(--input__color);
  border-radius: 50px;
  margin-right: 12px;
}
.cta__submit {
  height: 58px;
  width: 172px;
}

/*  =================================  */

.partners {
}
.partners__container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: burlywood ;
}
.partners__container > div {
  margin: 80px auto;
}
.partners__text-content {
  width: 552px;
  padding-top: 40px;
}
.partners__title {
  font: var(--font__h2);
  text-align: center;
}
.partners__subtitle {
  font: var(--font__h4);
  text-align: center;
}
.partners__items-container {
  display: flex;
  flex-direction: column;

  width: fit-content;
}
.partners__items-row {
  justify-content: stretch;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  display: flex;
}
.partners__item {
  border: solid 0.1px;
  height: 163px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  margin: 0;
  flex-grow: 1;
}
.partners__item-title {
  margin-bottom: 15px;
}
.partners__link {
  overflow: hidden;
}
.partners__link-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.partners__btn {
  width: 236px;
  height: 60px;
}

/*  ===========================  */

.testimonials {
}
.testimonials__container {
  padding: calc(100px * var(--divider)) 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials__title {
  font: var(--font__h2);
}
.testimonials__center {
  padding: calc(80px * var(--divider)) 28px;
  max-width: 987px;
  width: 100%;
}
.testimonials__logo {
  height: 60px;
}
.testimonials__text {
  margin: calc(50px * var(--divider)) 0;
  font: var(--font__h4);
}
.testimonials__client {
  display: flex;
  width: 186px;
  align-items: center;
  margin: auto;
}
.testimonials__client-ava {
  width: 50px;
}
.testimonials__client-text {
  text-align: start;
  margin-left: 13px;
  letter-spacing: 0.1;
}
.testimonials__btn {
  width: 276px;
  height: 60px;
}

/*    */

.pricing {
 
}
.pricing__container{
  padding: calc(100px * var(--divider)) 0;
  background-color: var(--price__bckg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;

}
.pricing__text {
  text-align: center;
  margin-bottom: 80px;
  max-width: 532px;
}
.pricing__title {
  font: var(--font__h2);
}
.pricing__subtitle {
  font: var(--font__h4);
  margin: 7px 0;
}
.pricing__items {
  display: flex;
  max-width: 1105px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pricing__item {
  width: 335px;
}

.pricing__item--white {
  height: 607px;
  color: rgba(55, 71, 84, 1);
  background-color: rgba(255, 255, 255, 1);
  padding: 40px 0;
}
.price-card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price-card:not(:last-child) {
  margin-right: 10px;
}
.price-card > div {
  margin: 0 0 12px 0;
}

.price-card__head {
  text-align: center;
  width: 148px;
  height: 61px;
}
.price-card__title {
  font: var(--font__h3);
}
.price-card__subtitle {
  font: var(--font__h6);
}
.price-card__cost {
  width: 153px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-card__value {
  font: calc(74px * var(--divider)) / 84px Graphik-Bold;
  text-align: center;
}
.price-card__cost-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  height: 52px;
}
.price-card__currency {
  font: var(--font__h3);
  padding: 0;
}
.price-card__term {
  font: var(--font__h6);
}
.price-card__features {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 30px 0;
}
.price-card__feature {
  font: var(--font__link);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
}
.price-card__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 255px;
  height: 56px;
}

.pricing__item--primary {
  padding: 83px 0;
  background-color: rgba(32, 145, 249, 1);
}

.contacts {
}
.contacts__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  width: 96%;
  margin: auto;
  padding: 50px 0;
}
.contacts__text {
  text-align: center;
  max-width: 552px;
  margin: 0 0 50px 0;
}
.contacts__title {
  font: var(--font__h2);
}
.contacts__subtitle {
  font: var(--font__h4);
}
.contacts__action {
  display: flex;
  justify-content: space-between;
  max-width: 1228px;
  width: 100%;
}
.contacts__form {
  width: 453px;
  height: 669px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  font: var(--font__field);
}
.form__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
  height: 100%;
}
.form__title {
  font: var(--font__h3);
}
.form__input {
  min-width: 300px;
  max-width: 353px;
  height: 54px;
  border-radius: 50px;
  background: rgba(245, 245, 245, 1);
  padding: 20px 19px;
}
.form__message {
  padding: 23px 20px;
  min-width: 300px;
  max-width: 353px;
  background: rgba(245, 245, 245, 1);
}
.form__btn {
  font: var(--font__form-btn);
  align-self: baseline;
}
.btn {
  padding: 14px 38px;
}
.contacts__right {
  max-width: 725px;
  width: 725px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 28px 0;
}
.contacts__items {
  display: flex;
  font: var(--font__h6);
  text-align: center;
  
}


.contacts__addres-item {
  min-width: 137px;
  max-width: 313px;
  letter-spacing: 0.1;
  flex-shrink: 1;
}

.contacts__addres-item:last-child {
  flex-shrink: 0;
}
.contact__icon {
  margin: 10px 0;
}
.contacts__item-text {
}
.contacts__map {
  max-width: 516px;
  height: 343px;
  width: 71.17%;
  margin: 50px 0;
}
.contacts__social {
  align-self: flex-start;
}
.contacts__social-link {
}
.contacts__social-icon {
  margin: 0 12px 0 10px;
}


/* footer */

.footer * {
  color: #fff;
}
.footer__container {
  background-color: var(--dark__bckg);
  padding: 150px 0;
  max-width: 991px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.footer__columns {
  display: grid;
  width: 58%;
  grid-template-columns: repeat(3, 1fr);
}
 .footer__column {
}
.footer__list-title {
  font: var(--font__h3);
  padding: 10px 0;
  margin: 0 0 15px 0;
}
.footer__list {
}
.footer__list-item:not(:last-child) {
  margin: 0 0 16px 0;
}
.footer__link {
  font: var(--font__link);
}
.footer__right {
  display: flex;
  justify-content: flex-end;
}

.footer__contacts {
  max-width: 284px;
  display: flex;
  flex-direction: column;
}
.footer__contacts-item {
  display: flex;
  height: 46px;
  align-items: center;
  overflow: hidden;
  
}

.footer__contacts-icon {
}
.footer__contacts-item{
  display: flex;
} 

.footer__contacts-item:nth-child(2) img {
  padding: 7px;
  }

.footer__contacts-text {
  font: var(--font__link);
  padding: 10px;
}
.footer__social {
  grid-column-start: 1;
  display: flex;
  align-items: center;
  height: 80px;

}
.footer__social-link:nth-child(2) {
  margin:0 24px;
}
.footer__social-icon {
}
.footerr__social-icon {
}
 




 










/* //works */
@media screen and (max-width:992px) {

  .header {
  }
  .header__head {
    flex-wrap: wrap;
    position: relative;
    height: auto;
  }
  .header__logo {
   
  }
  .header__burger {
    display: block;
    position: relative;
    height: 75px;
    width: 100px;
   
  }
  .header__burger:hover{
    background-color:rgba(91, 133, 97, 0.5);
  }
.header__burger:hover ~ nav, .header__nav:hover{  
  display: block;
  background-color: rgba(91, 133, 97, 0.2);
}

.header__nav-link:hover{
  background-color:rgba(91, 133, 97, 0.4);

}

  .header__burger-img {
  }
  .header__social {
    display: none;
  }
  .header__social-link {
  }
  .header__social-icon {
  }
  .header__nav {
    display: none;
    order: 0;
    position: absolute;
    top: 99%;
    left: 0%;
    width: 100%;
  }
  .header__nav-item {
    padding:0;
  }
  
 

  .header__nav-link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 5px;
    
  }
  .header__body {
  }
  .header__description {
  }
  .header__title {
  }
  .header__subtitle {
  }
  .header__btn {
  }
  .btn {
  }
  
}

@media screen and (max-width:540px) {

  .header {
  }
  .header__head {
    flex-wrap: nowrap;
    padding: 0;
    position: relative;
    height: auto;
  }
  .header__logo {
   
  }
  .header__burger {
    display: block;
    position: relative;
    height: 75px;
    width: 100px;
   
  }
  .header__burger:hover{
    background-color:rgba(91, 133, 97, 0.5);
  }
.header__burger:hover ~ nav, .header__nav:hover{  
  display: block;
  background-color: rgba(91, 133, 97, 0.2);
}

.header__nav-link:hover{
  background-color:rgba(91, 133, 97, 0.4);

}

  .header__burger-img {
  }
  .header__social {
    display: none;
  }
  .header__social-link {
  }
  .header__social-icon {
  }
  .header__nav {
    display: none;
    order: 0;
    position: absolute;
    top: 99%;
    left: 0%;
    width: 100%;
  }
  .header__nav-item {
    padding:0;
  }
  
 

  .header__nav-link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 5px;
    
  }
  .header__body {
  }
  .header__description {
  }
  .header__title {
  }
  .header__subtitle {
  }
  .header__btn {
  }
  .btn {
  }
  
}


@media screen  and (max-width:768px){

  .feature {
  }
  .feature__container {
  }
  .feature__description {

    margin: 0 auto 0px;
  }
  .feature__title {
  }
  .feature__subtitle {
  }
  .features__items {
   flex-direction: column;
   order: 1;
   margin: 0px;
  }
  .features__item:nth-child(2){
    margin: 75px 0;
  }
  .item {
  }
  .item__img {
  }
  .item__title {
  }
  .item__text {
  }
  .features__video {
  }
  .video {
    padding: 0;
    margin: 50px 0 50px 0;
  }
  .video__player {
  }
  .video__btn {
  }
  .video__arrow {
  }
  
}

@media screen and (max-width:768px) {
  .hero__container {
    flex-direction: column ;
    margin: 30px 20px;
    padding: 50px 0;
  }
  .hero__column,.hero__img{
    width: 100%;
  }
  .hero__action{
    margin: 59px 0;
    display: flex;
    justify-content: center;
  }
.hero__btn{
  margin: auto;
}
.hero__description {
  text-align: center;
}

}

@media screen and (max-width: 768px) {
  .cta {
  }
  .cta__container {
    flex-direction: column;
  }
  .cta__mobile {
    display: block;
    text-align: center;
  }
  .cta__title {
    padding: 0;
    margin: 0 0 8px 0;
  }
  .cta__subtitle {
  }
  .cta__description {
    font: var(--font__h4);
  }
  .cta__left {
    overflow: hidden;
    height: 100%;
    width: calc(100% - 19px * 2);
    margin: auto;
  }
  .cta__img {
    margin: 59px 0;
  }
  .cta__right {
    max-width: 100%;
    margin: 0px 22px;
    text-align: center;
  }
  .cta__text {
    display: none;
  }
  .cta__action {
  }
  .cta__action-title {
  
    padding: 10px;
  }
  .cta__action-description {
    padding: 10px;
  }
  .cta__form {
    justify-content: center;
  }
  .cta__input {
    width: 353px;
    margin-right: 0px;
    border: solid;
  }
  .input {
  }
  .cta__submit {
    width: 353px;
  }

}

@media screen and (max-width: 768px) {
  .partners {
  }
  .partners__container {
    padding: 50px 0;
    
  }
  .partners__text-content {
    width: 100%;
    padding: 0;
  }
  .partners__container > div {
    margin: 0px auto;
  }
  .partners__title {
  }
  .partners__subtitle {
  }
  .partners__items-container {
  }
  .partners__items-row {
    flex-direction: column;
    margin: 80px 0;
  }
  .partners__items-row:last-child {
    display: none;
  }
  
  .partners__item {
    padding: 25px 40px;
    width: 275px;
    
  }
  .partners__item:nth-child(2){
    margin: 30px 0;
  }
  .partners__item:last-child {
    display: none;
  }
  .partners__item-title {
  }
  .partners__link {
  }
  .partners__link-img {
  }
  .partners__btn {
  }

}

@media screen and (max-width:768px) {
  
  .testimonials {
  }
  .testimonials__container {
  }
  .testimonials__title {
  }
  .testimonials__center {
  }
  .testimonials__logo {
  }
  .testimonials__text {
    font:var(--font__h3)
  }
  .testimonials__client {
  }
  .testimonials__client-ava {
  }
  .testimonials__client-text {
  }
  .testimonials__btn {
  }
  .btn {
  }


}

@media screen and (max-width:768px) {

  .pricing {
  }
  .pricing__container{
    width: 100%;
    margin: auto;
    padding: 100px 28px;

  }
  .pricing__text {
  }
  .pricing__title {
  }
  .pricing__subtitle {
  }
  .pricing__items {
    flex-direction: column;
    padding: 18px 0;
  }
  .pricing__item {
    
  }
  .pricing__item--white {
  }
  .price-card {
    /* margin: 0; */
  }
  .price-card:not(:last-child) {
    margin-right: 0px;
    margin-bottom:50px;
  }
  .price-card__head {
  }
  .price-card__title {
  }
  .price-card__subtitle {
  }
  .price-card__cost {
  }
  .price-card__value {
  }
  .price-card__cost-left {
  }
  .price-card__currency {
  }
  .price-card__term {
  }
  .price-card__features {
  }
  .price-card__feature {
  }
  .price-card__btn {
  }
  .btn {
  }
  .pricing__item--primary {
  }
  
}

@media screen and (max-width:768px) {

  .contacts {
  }
  .contacts__container {
    padding: 50px 20px;
    margin: 0 0 99px 0;
    border: solid;
  }
  
  .contacts__text {
    margin-bottom: 50px;
  }
  .contacts__title {
  }
  .contacts__subtitle {
  }
  .contacts__action {
    flex-direction: column;
   align-items: center;
  }
  .contacts__form {
    margin-bottom: 50px;
  }
  .form {
    order: 1;
  }
  .form__container {
  }
  .form__title {
  }
  .form__input {
  }
  .form__message {
    resize: none;
  }
  .form__btn {
  }
  .btn {
  }
  .contacts__right {
    width: 100%;
    align-items: flex-start;
    margin-bottom: 50px;  
  }
  .contacts__items {
    text-align: start;
    flex-direction: column;
    order: 1;
    padding: 18px 0;
   
  }
  .contacts__addres-item {
    display: flex;
    align-items: center;
    max-width: 100%;
  }
  .contacts__addres-item:nth-child(2n){
    margin: 10px 0;
  }
  .contact__icon {
  }
  .contacts__item-text {
    margin-left: 10px;
  }
  .contacts__map {
    display: none;
  }
  .contacts__social {
    margin: 0 auto 50px;
  }
  .contacts__social-link {
  }
  .contacts__social-icon {
  }
  
}

@media screen and (max-width:540px) {

  .contacts {
  }
  .contacts__container {
    padding: 50px 20px;
    margin: 0 0 99px 0;
    border: solid;
  }
  
  .contacts__text {
    margin-bottom: 50px;
  }
  .contacts__title {
  }
  .contacts__subtitle {
  }
  .contacts__action {
    flex-direction: column;
   align-items: center;
  }
  .contacts__form {
    margin-bottom: 50px;
    border: solid;
    width: 100%;
    min-width: 330px;
  }
  .form {
    order: 1;
  }
  .form__container {
  }
  .form__title {
  }
  .form__input {
  }
  .form__message {
    resize: none;
  }
  .form__btn {
  }
  .btn {
  }
  .contacts__right {
    width: 100%;
    align-items: flex-start;
    margin-bottom: 50px;  
  }
  .contacts__items {
    text-align: start;
    flex-direction: column;
    order: 1;
    padding: 18px 0;
   
  }
  .contacts__addres-item {
    display: flex;
    align-items: center;
    max-width: 100%;
  }
  .contacts__addres-item:nth-child(2n){
    margin: 10px 0;
  }
  .contact__icon {
  }
  .contacts__item-text {
    margin-left: 10px;
  }
  .contacts__map {
    display: none;
  }
  .contacts__social {
    margin: 0 auto 50px;
  }
  .contacts__social-link {
  }
  .contacts__social-icon {
  }
  
}



@media screen and (max-width:768px){
  .footer {
  }
  .footer__container {
    flex-direction: column;
    padding: 107px 0;
    align-items: center;

  }
  .footer__columns {
    grid-template-columns: 1fr;
 
  }
  .footer__column {
    text-align: center;
    margin-bottom: 76px;
  }
  .footer__list-title {
  }
  .footer__list {
    
  }
  .footer__list-item {
  }
  .footer__link {
  }
  .footer__right {
  }
  .footer__contacts {
  
  }
 
  .footer__contacts-item:nth-child(2) {
    display: flex;
    margin: 10px 0;
  }
  .footer__contacts-icon {
  }
  .footer__contacts-text {
  }
  .footer__social {
   
    justify-content: center;
  }
  .footer__social-link {
 
  }
  .footer__social-icon {
  }
  .footerr__social-icon {
  }
}