* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li, nav li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: Graphic;
  src: url("/fonts/Graphik-Bold.eot");
  src: local("Graphik Bold"), local("Graphik-Bold"), url("/fonts/Graphik-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Graphik-Bold.woff2") format("woff2"), url("/fonts/Graphik-Bold.woff") format("woff"), url("/fonts/Graphik-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Graphic;
  src: url("/fonts/Graphik-Regular.eot");
  src: local("Graphik Regular"), local("Graphik-Regular"), url("/fonts/Graphik-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Graphik-Regular.woff2") format("woff2"), url("/fonts/Graphik-Regular.woff") format("woff"), url("/fonts/Graphik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.socials__link, .btn, .nav__item {
  display: grid;
  justify-content: center;
  align-items: center;
}

.contact__form, .contact__description, .price-card__feature, .price-card__subtitle, .price-card__title, .testimonials__text, .partners__description, .description--center, .header__body {
  margin: auto;
  text-align: center;
}

.header {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(246px, 1210px);
  grid-template-rows: auto auto;
  background: conic-gradient(from -70deg at 50% 90%, rgba(0, 0, 0, 0.1) -70deg 140deg, white 140deg), url("./imgs/header/80b7ece24a3d47292461f8e199ffdd36.jfif") no-repeat 50%/cover;
}
.header__head {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 246px 1fr;
  grid-area: 1/1/2/2;
  align-items: center;
  padding: 39px 40px;
  position: relative;
}
@media screen and (max-width: 992px) {
  .header__head {
    grid-template-columns: auto auto;
    padding: 16px 17px;
  }
}
.header__body {
  padding: 80px 0;
  grid-area: 2/1/3/2;
  display: grid;
  max-width: 786px;
  grid-template-rows: auto 92px 218px;
  row-gap: 40px;
}
@media screen and (max-width: 992px) {
  .header__body {
    grid-template-rows: auto 92px 118px;
  }
}
@media screen and (max-width: 992px) {
  .header__nav {
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    text-align: start;
  }
}
.header__logo {
  width: 226px;
  height: 78px;
  padding: 0 20px;
}
@media screen and (max-width: 992px) {
  .header__logo {
    width: 206px;
    grid-column: 1/2;
    padding: 0;
  }
}
.header__socials {
  justify-self: end;
}
.header__btn {
  display: grid;
  margin: auto;
}
.header__burger {
  display: none;
  position: absolute;
  right: 20px;
}
@media screen and (max-width: 992px) {
  .header__burger {
    display: block;
    grid-column: 3/4;
  }
}
@media screen and (max-width: 992px) {
  .header__burger:hover ~ .header__nav, .header__nav:hover {
    display: block;
    background-color: rgba(22, 24, 22, 0.4);
  }
}

.burger {
  width: 100px;
  height: 112px;
  border: none;
  background-color: transparent;
  text-align: end;
}
@media screen and (max-width: 375px) {
  .burger {
    width: 40px;
  }
}
.burger__icon {
  width: 40px;
  height: 40px;
}

.nav {
  font-family: Graphic;
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
}
@media screen and (max-width: 992px) {
  .nav {
    display: none;
    justify-content: flex-start;
  }
}
.nav__list {
  display: grid;
  grid-auto-flow: column;
}
@media screen and (max-width: 992px) {
  .nav__list {
    grid-auto-flow: row;
  }
}
.nav__item {
  padding: 10px;
}
.nav__item:hover {
  transition: 0.7s;
  background-color: rgba(22, 24, 22, 0.7);
}
@media screen and (max-width: 992px) {
  .nav__item {
    justify-content: flex-start;
  }
}
.nav__link {
  color: #fff;
}

.description {
  display: grid;
  row-gap: 7px;
  color: #252b42;
  font-family: Graphic;
}
.description--color--white {
  color: #fff;
}
.description__title {
  font-size: 48px;
  line-height: 55px;
  font-weight: 400;
  padding: 10px 10px;
}
@media screen and (max-width: 375px) {
  .description__title {
    padding: 10px 0;
    font-size: 38px;
    line-height: 45px;
    font-weight: 40;
  }
}
.description__title--big {
  font-size: calc(50px + 24 * (100vw / 1777));
  line-height: 1.13em;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .description__title--big {
    font-size: 48px;
    line-height: 55px;
    font-weight: 400;
  }
}
.description__subtitle {
  padding: 10px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
}
@media screen and (max-width: 992px) {
  .description__subtitle--hide--md {
    display: none;
  }
}

.btn {
  color: white;
  padding: 16px 63.2px;
  font-family: Graphic;
  background-color: #409ef7;
  border-radius: 50px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}
.btn:hover {
  transition: 0.7s;
  background-color: #086bc9;
}
.btn--f--700 {
  font-weight: 700;
  padding: 16px 59px;
}

.socials {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  column-gap: 24px;
}
.socials__link {
  width: 40.99px;
  height: 40.99px;
}
.socials__icon {
  height: 32px;
  display: block;
}

.features {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr minmax(218px, 1177px) 1fr;
  row-gap: 80px;
}
@media screen and (max-width: 992px) {
  .features {
    row-gap: 50px;
  }
}
@media screen and (max-width: 768px) {
  .features {
    padding: 80px 0;
  }
}
.features__description {
  max-width: 552px;
  grid-area: 1/2/2/3;
}
.features__items {
  grid-area: 2/1/3/4;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  gap: 52px;
}
@media screen and (max-width: 768px) {
  .features__items {
    grid-area: 3/2/3/3;
  }
}
.features__item {
  flex: 0 1 255px;
}
.features__video {
  grid-area: 3/2/3/3;
}
@media screen and (max-width: 768px) {
  .features__video {
    grid-area: 2/1/3/4;
  }
}

.feature-item {
  text-align: center;
  display: grid;
  row-gap: 10px;
  justify-items: center;
  font-family: Graphic;
}
.feature-item__img {
  width: 61px;
}
.feature-item__title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #252b42;
}
.feature-item__text {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #374754;
}

.video__player {
  max-width: 100%;
}
.video__container {
  position: relative;
}
.video__btn {
  border: none;
  background-color: #409ef7;
  max-width: 300px;
  width: 17vw;
  max-height: 300px;
  height: 17vw;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.video__arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero {
  display: grid;
  grid-template-rows: 269px auto 269px;
  grid-template-columns: minmax(20px, 266.85px) minmax(420px, 532px) minmax(20px, 50px) minmax(420px, 661px) minmax(20px, 266.85px);
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .hero {
    grid-template-columns: 1fr;
    padding: 0 20px;
    justify-content: center;
    grid-template-rows: 30px auto auto 30px;
    row-gap: 59px;
    justify-items: center;
  }
}
.hero__left {
  grid-area: 2/2/3/3;
  display: grid;
  row-gap: 59px;
}
@media screen and (max-width: 992px) {
  .hero__left {
    padding: 0;
    grid-area: 2/1/3/2;
  }
}
.hero__right {
  grid-area: 2/4/3/5;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .hero__right {
    grid-area: 3/1/4/2;
  }
}
.hero__description {
  padding-right: 21px;
}
@media screen and (max-width: 992px) {
  .hero__description {
    text-align: center;
    padding: 0;
  }
}
.hero__btn {
  align-self: flex-end;
  width: fit-content;
  margin: 0 0 0 10px;
}
@media screen and (max-width: 992px) {
  .hero__btn {
    margin: auto;
  }
}
.hero__img {
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
}

.cta__container {
  max-width: 1440px;
  margin: auto;
  display: grid;
  grid-template-columns: minmax(355px, 795px) minmax(20px, 113px) minmax(293px, 484px);
  padding: 0 20px;
  grid-template-rows: 69px auto minmax(199px, auto) 69px;
  row-gap: 15px;
}
@media screen and (max-width: 992px) {
  .cta__container {
    grid-template-columns: 1fr;
    padding: 0 20px;
    justify-content: center;
    grid-template-rows: auto auto auto;
    row-gap: 59px;
    padding: 80px 23px;
  }
}
.cta__image {
  grid-column: 1/2;
  grid-row: 2/span 3;
  max-width: 100%;
  align-self: center;
  object-fit: scale-down;
  object-position: -15px;
}
@media screen and (max-width: 992px) {
  .cta__image {
    grid-column: 1/2;
    grid-row: 2/span 1;
    object-position: -45px;
  }
}
.cta__description {
  grid-column: 3/4;
  grid-row: 2/span 1;
  display: grid;
  padding: 0 10px;
}
@media screen and (max-width: 992px) {
  .cta__description {
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/span 1;
  }
}
.cta__title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  padding: 0 10px;
}
.cta__text {
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
}
.cta__form {
  grid-column: 3/4;
  grid-row: 3/span 1;
  padding: 0 10px;
}
@media screen and (max-width: 992px) {
  .cta__form {
    grid-column: 1/2;
    grid-row: 3/span 1;
    text-align: center;
  }
}
.cta__form-row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 12px;
  padding: 34px 0;
}
@media screen and (max-width: 992px) {
  .cta__form-row {
    justify-content: center;
  }
}
.cta__input {
  flex: 1 1 273px;
}
@media screen and (max-width: 992px) {
  .cta__input {
    flex: 0 1 353px;
  }
}
.cta__submit {
  padding: 19px 0;
  flex: 1 1 172px;
}
@media screen and (max-width: 992px) {
  .cta__submit {
    flex: 0 1 353px;
  }
}

.form__message, .form__input {
  background: #f4f4f4;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.2;
  border: 1px solid #E8E8E8;
}

.form {
  font-family: Graphic;
}
.form__title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}
.form__subtitle {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  padding: 0 10px;
}
.form__input {
  padding: 19px 20px;
  border-radius: 50px;
}
.form__message {
  padding: 23px 20px 23px 20px;
  resize: none;
}

.form__input, .form__message {
  background: #f4f4f4;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.2;
  border: 1px solid #E8E8E8;
}

.form {
  font-family: Graphic;
}
.form__title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}
.form__subtitle {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  padding: 0 10px;
}
.form__input {
  padding: 19px 20px;
  border-radius: 50px;
}
.form__message {
  padding: 23px 20px 23px 20px;
  resize: none;
}

.partners {
  display: grid;
  grid-template-columns: minmax(952px, 1075px);
  grid-template-rows: 0.1px auto auto auto 0.1px;
  row-gap: 80px;
  justify-content: center;
  font-family: Graphic;
  padding: 0 20px;
}
@media screen and (max-width: 992px) {
  .partners {
    grid-template-columns: 1fr;
    padding: 0 20px;
    justify-content: center;
    justify-items: center;
  }
}
.partners__description {
  grid-row: 2/3;
  max-width: 522px;
}
.partners__items {
  grid-row: 3/4;
}
.partners__items-row {
  display: flex;
  height: 165px;
  justify-content: stretch;
}
@media screen and (max-width: 992px) {
  .partners__items-row {
    flex-direction: column;
    row-gap: 30px;
    height: auto;
  }
}
.partners__item {
  border: 1px solid #d8d8d8;
  flex-grow: 1;
  display: grid;
  row-gap: 15px;
  justify-content: center;
  align-content: center;
}
@media screen and (max-width: 992px) {
  .partners__item {
    width: 275px;
    padding: 25px 40px;
  }
}
.partners__item-title {
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
}
.partners__btn {
  grid-row: 4/5;
  margin: auto;
}

.testimonials {
  display: grid;
  grid-template-rows: 20px auto auto auto 20px;
  grid-template-columns: minmax(276px, 987px);
  padding: 0 20px;
  row-gap: 80px;
  font-family: Graphic;
}
.testimonials__description {
  grid-row: 2/3;
}
.testimonials__center {
  grid-row: 3/4;
  display: grid;
  row-gap: 50px;
  justify-items: center;
}
.testimonials__logo {
  height: 60px;
}
.testimonials__text {
  padding: 10px 0;
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .testimonials__text {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
  }
}
.testimonials__client {
  display: grid;
  grid-template-columns: 50px minmax(min-content, 123px);
  column-gap: 12px;
  align-items: center;
}
.testimonials__client-text {
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  text-align: start;
}
.testimonials__btn {
  grid-row: 4/5;
  padding: 16px 48.19px;
  margin: auto;
}
@media screen and (max-width: 375px) {
  .testimonials__btn {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.pricing {
  background-color: #252b42;
  display: grid;
  grid-template-columns: minmax(min-content, 1105px);
  grid-template-rows: 20px auto auto 20px;
  row-gap: 80px;
  justify-content: center;
  padding: 0 20px;
}
.pricing__description {
  grid-row: 2/3;
  color: white;
  max-width: 552px;
}
.pricing__items {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, minmax(300px, 355px));
  grid-row: 3/4;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .pricing__items {
    grid-template-columns: 1fr;
    padding: 0 20px;
    justify-content: center;
    row-gap: 50px;
    grid-template-rows: auto auto auto;
    justify-items: center;
    padding: 0;
  }
}
.pricing__item {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 10px;
}
@media screen and (max-width: 992px) {
  .pricing__item {
    justify-items: center;
    margin: 0;
  }
}

.price-card {
  display: grid;
  grid-auto-flow: row;
  row-gap: 30px;
  border-radius: 10px;
  background-color: #fff;
  color: #374754;
  font-family: Graphic;
}
.price-card--primary {
  padding-top: 83px;
  padding-bottom: 83px;
  background-color: #409ef7;
  box-sizing: content-box;
  color: #fff;
}
.price-card--primary button {
  background-color: #fff;
  color: #409ef7;
}
.price-card--primary button:hover {
  color: #fff;
}
.price-card__title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}
.price-card__subtitle {
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  word-wrap: break-word;
}
.price-card__cost {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 10px;
}
.price-card__value {
  grid-column: 1/2;
  grid-row: 1/3;
  font-size: calc(50px + 24 * (100vw / 1777));
  line-height: 1.13em;
  font-weight: 700;
  text-align: end;
}
.price-card__currency {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  text-align: start;
  align-self: flex-end;
}
.price-card__term {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  text-align: start;
}
.price-card__feature {
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
}
.price-card__btn {
  max-width: 255px;
  width: 100%;
  height: 56px;
  padding: 16px 33px;
}

.contact {
  display: grid;
  grid-template: 50px auto auto 50px/minmax(378px, 453px) minmax(512px, 725px);
  padding: 0 20px;
  justify-content: center;
  grid-gap: 50px;
  font-family: Graphic;
}
@media screen and (max-width: 992px) {
  .contact {
    grid-template-columns: 1fr;
    padding: 0 20px;
    justify-content: center;
    grid-template-rows: 50px auto auto auto 50px;
    column-gap: 0;
  }
}
.contact__description {
  grid-row: 2/3;
  grid-column: 1/3;
  max-width: 540px;
}
.contact__left {
  grid-row: 3/4;
}
@media screen and (max-width: 992px) {
  .contact__left {
    grid-row: 4/5;
  }
}
.contact__form {
  box-shadow: -1px -1px 0px 0px rgba(87, 91, 95, 0.3), 2px 5px 10px 1px rgba(87, 91, 95, 0.3);
  border-radius: 13px;
  display: grid;
  row-gap: 45px;
  grid-template-rows: auto auto auto auto;
  padding: 50px;
}
@media screen and (max-width: 992px) {
  .contact__form {
    max-width: 453px;
    margin: auto;
  }
}
@media screen and (max-width: 430px) {
  .contact__form {
    padding: 50px 20px;
  }
}
.contact__right {
  margin: 28px 0;
  grid-row: 3/4;
  display: grid;
  grid-template-rows: 108px auto 60px;
  grid-template-columns: minmax(30px, 1fr) minmax(450px, 516px) minmax(30px, 1fr);
  row-gap: 50px;
}
@media screen and (max-width: 992px) {
  .contact__right {
    margin: 0;
    grid-template-columns: minmax(30px, 1fr) auto minmax(30px, 1fr);
    grid-row: 3/4;
    grid-template-rows: 60px auto;
  }
}
.contact__items {
  grid-column: 1/4;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: minmax(min-content, 313px) 137px 245px;
}
@media screen and (max-width: 992px) {
  .contact__items {
    grid-row: 2/3;
    grid-template-columns: 1fr;
    row-gap: 10px;
    justify-items: flex-start;
    width: fit-content;
    margin: auto;
  }
}
.contact__address-item {
  display: grid;
  justify-items: center;
  text-align: center;
  padding: 10px;
}
@media screen and (max-width: 992px) {
  .contact__address-item {
    grid-template-columns: 45px 1fr;
    min-height: 46px;
    align-items: center;
    font-style: normal;
    text-align: start;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
  }
}
@media screen and (max-width: 375px) {
  .contact__address-item {
    grid-template-columns: 35px 1fr;
    padding: 10px 0;
  }
}
@media screen and (max-width: 375px) {
  .contact__icon {
    padding: 0;
  }
}
.contact__map {
  width: 100%;
  grid-row: 2/3;
  grid-column: 2/3;
  height: 343px;
}
@media screen and (max-width: 992px) {
  .contact__map {
    display: none;
  }
}
.contact__socials {
  grid-column: 1/4;
  grid-row: 3/4;
  display: grid;
  margin-left: 10px;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .contact__socials {
    grid-row: 1/2;
    justify-content: center;
    margin: 0;
  }
}
.contact__btn {
  padding: 14px 48.3px;
  width: fit-content;
}

.footer {
  background-color: #252b42;
  display: grid;
  grid-template-columns: auto minmax(20px, 125px) auto;
  justify-content: center;
  padding: 150px 0;
  color: #fff;
  font-family: Graphic;
}
@media screen and (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
    padding: 0 20px;
    justify-content: center;
    padding: 107px 20px;
    row-gap: 76px;
    text-align: center;
  }
}
.footer__left {
  grid-column: 1/2;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(150px, 185px);
  column-gap: 20px;
  padding: 0 20px;
}
@media screen and (max-width: 768px) {
  .footer__left {
    grid-auto-flow: row;
    row-gap: 73px;
    margin: auto;
  }
}
.footer__column {
  display: grid;
  row-gap: 15px;
}
.footer__list-title {
  font-size: 20;
  line-height: 28px;
  font-weight: 700;
}
.footer__list {
  display: grid;
  row-gap: 15px;
}
.footer__link {
  font-size: 15;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}
.footer__right {
  grid-column: 3/4;
  display: grid;
  row-gap: 10px;
  height: fit-content;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .footer__right {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: auto;
  }
}
.footer__contact {
  display: grid;
  grid-template-columns: 45px 1fr;
  min-height: 46px;
  align-items: center;
}
.footer__icon {
  margin: auto;
}
.footer__contact-text {
  color: #fff;
  text-align: start;
  font-style: normal;
  font-size: 20;
  line-height: 28px;
  font-weight: 400;
}
.footer__socials {
  padding: 20px 0;
}
@media screen and (max-width: 768px) {
  .footer__socials {
    margin: auto;
  }
}

.footer {
  background-color: #252b42;
  display: grid;
  grid-template-columns: auto minmax(20px, 125px) auto;
  justify-content: center;
  padding: 150px 0;
  color: #fff;
  font-family: Graphic;
}
@media screen and (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
    padding: 0 20px;
    justify-content: center;
    padding: 107px 20px;
    row-gap: 76px;
    text-align: center;
  }
}
.footer__left {
  grid-column: 1/2;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(150px, 185px);
  column-gap: 20px;
  padding: 0 20px;
}
@media screen and (max-width: 768px) {
  .footer__left {
    grid-auto-flow: row;
    row-gap: 73px;
    margin: auto;
  }
}
.footer__column {
  display: grid;
  row-gap: 15px;
}
.footer__list-title {
  font-size: 20;
  line-height: 28px;
  font-weight: 700;
}
.footer__list {
  display: grid;
  row-gap: 15px;
}
.footer__link {
  font-size: 15;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}
.footer__right {
  grid-column: 3/4;
  display: grid;
  row-gap: 10px;
  height: fit-content;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .footer__right {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: auto;
  }
}
.footer__contact {
  display: grid;
  grid-template-columns: 45px 1fr;
  min-height: 46px;
  align-items: center;
}
.footer__icon {
  margin: auto;
}
.footer__contact-text {
  color: #fff;
  text-align: start;
  font-style: normal;
  font-size: 20;
  line-height: 28px;
  font-weight: 400;
}
.footer__socials {
  padding: 20px 0;
}
@media screen and (max-width: 768px) {
  .footer__socials {
    margin: auto;
  }
}

@media screen and (max-width: 992px) {
  .show-lg-max {
    display: none;
  }
}

.show-lg-min {
  display: none;
}
@media screen and (max-width: 992px) {
  .show-lg-min {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
