

.cta__container {
  gap: 59px;
}
.cta__mobile {
  display: block;
}
.cta__left {
  margin-top: 0;
  align-self: center;
}
.cta__right {
  margin: 0;
}
.cta__img {
  object-position: -44px;
  margin: 10px;
}
.cta__action {
  text-align: center;
}

.cta__text {
  display: none;
}

.contacts__container {
  grid-template-columns: 106px minmax(10px, 50px) 500px minmax(10px, 50px) 106px;
  row-gap: 50px;
}

.contacts__text {
  grid-area: 1/1/2/6;
}

.contacts__form {
  grid-area: 3/3/4/4;
  text-align: center;
}
.form__container {
  grid-template-columns:
    minmax(10px, 50px)
    minmax(280px, 1fr)
    minmax(10px, 50px);
}

.contacts__right {
  grid-area: 2/2/3/5;
}
.contacts__social {
  margin: auto;
}
.footer__container {
  
  padding: 107px 10px;
  
}