.btn {
  color: #fff;
  padding: 16px 63.2px;
  font-family: Graphic;
  background-color: $blue-color;
  border-radius: 50px;

  @include font($f-size-4, $f-height-4, 400);

  @extend %position-center; 
  @include hover($blue-color);


  &--f--700{
      font-weight: 700;
      padding: 16px 59px;
  }
}
