.contact {
  display: grid;
  grid-template:
    50px auto auto 50px
    /minmax(378px, 453px)
    minmax(512px, 725px);

  padding: 0 20px;
  justify-content: center;
  grid-gap: 50px;
  font-family: Graphic;

  @include media-container-lg {
    grid-template-rows: 50px auto auto auto 50px;
    column-gap: 0;
  }

  &__description {
    grid-row: 2/3;
    grid-column: 1/3;
    max-width: 540px;
    @extend %text-center;
  }

  &__left {
    grid-row: 3/4;
    @media screen and (max-width: 992px) {
      grid-row: 4/5;
    }
  }

  &__form {
    @extend %text-center;
    box-shadow: -1px -1px 0px 0px rgba(87, 91, 95, 0.3),
      2px 5px 10px 1px rgba(87, 91, 95, 0.3);
    border-radius: 13px;
    display: grid;
    row-gap: 45px;
    grid-template-rows: auto auto auto auto;
    padding: 50px;

    @media screen and (max-width: 992px) {
      max-width: 453px;
      margin: auto;
    }
    @media screen and (max-width: 430px) {
      padding: 50px 20px;
    }
  }

  &__right {
    margin: 28px 0;
    grid-row: 3/4;
    display: grid;
    grid-template-rows: 108px auto 60px;
    grid-template-columns:
      minmax(30px, 1fr)
      minmax(450px, 516px)
      minmax(30px, 1fr);
    row-gap: 50px;

    @media screen and (max-width: 992px) {
      margin: 0;
      grid-template-columns: minmax(30px, 1fr) auto minmax(30px, 1fr);
      grid-row: 3/4;
      grid-template-rows: 60px auto;
    }
  }
  &__items {
    grid-column: 1/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: minmax(min-content, 313px) 137px 245px;
    @media screen and (max-width: 992px) {
      grid-row: 2/3;
      grid-template-columns: 1fr;
      row-gap: 10px;
      justify-items: flex-start;
      width: fit-content;
      margin: auto;
    }
  }

  &__address-item {
    display: grid;
    justify-items: center;
    text-align: center;
    padding: 10px;
    font-style: normal;
    color: $color-second;
    @media screen and (max-width: 992px) {
      grid-template-columns: 45px 1fr;
      min-height: 46px;
      align-items: center;    
      text-align: start;
      @include font($f-size-7,$f-height-7, 400);
    }
    @media screen and (max-width: 375px) {
      grid-template-columns: 35px 1fr;
      padding: 10px 0;
    }
  }

  &__icon {
    @media screen and (max-width: 375px) {
      padding: 0;
    }
  }

  &__map {
    width: 100%;
    grid-row: 2/3;
    grid-column: 2/3;
    height: 343px;
    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  &__socials {
    grid-column: 1/4;
    grid-row: 3/4;
    display: grid;
    margin-left: 10px;
    align-items: center;
    @media screen and (max-width: 992px) {
      grid-row: 1/2;
      justify-content: center;
      margin: 0;
    }
  }
  &__btn {
    padding: 14px 48.3px;
    width: fit-content;
  }
}
