
.feature-item {
    text-align: center;
    display: grid;
    row-gap: 10px;
    justify-items: center;
    font-family: Graphic;
    color: $color;
    &__img {
        width: 61px;
    }

    &__title {    
      @include font($f-size-4,$f-height-4 ,700 );
    }

    &__text {   
        @include font($f-size-6,$f-height-6, 400);
        color: $color-second;
    }
}