
.feature-item {
    text-align: center;
    display: grid;
    row-gap: 10px;
    justify-items: center;
    font-family: Graphic;
    &__img {
        width: 61px;
    }

    &__title {    
      @include font(20px,28px ,700 );
      color: rgba(37, 43, 66, 1);
    }

    &__text {   
        @include font(18px,25px ,400 );
        color:rgba(55, 71, 84, 1);
    }
}