%input {
  background-color: $input-bckg;
  @include font($f-size-8, $f-height-8, 400);
  letter-spacing: 0.2;
  border: $border;
  color: rgb(24, 23, 29);
}

.form {
  font-family: Graphic;
  &__title {
    @include font($f-size-4, $f-height-4, 700);
  }

  &__subtitle {
    @include font($f-size-7, $f-height-6, 400);
    padding: 0 10px;
  }



  &__input {
    @extend %input;
    padding: 19px 20px;
    border-radius: 50px;
  }
  &__message {
    @extend %input;
    padding: 23px 20px 23px 20px;
    resize: none;
  }
}
