%input {
  background: #f4f4f4;
  @include font(15px, 16px, 400);
  letter-spacing: 0.2;
  border: 1px solid #E8E8E8;
}

.form {
  font-family: Graphic;
  &__title {
    @include font(20px, 28px, 700);
  }

  &__subtitle {
    @include font(18px, 25px, 400);
    padding: 0 10px;
  }



  &__input {
    @extend %input;
    padding: 19px 20px;
    border-radius: 50px;
  }
  &__message {
    @extend %input;
    padding: 23px 20px 23px 20px;
    resize: none;
  }
}
