@mixin font ($size,$height,$weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight; 
}

.form {
font-family: sans-serif;
    &__title {
      @include font(20px, 28px,700 )     
    }
  
    &__subtitle {
      @include font(18px, 25px,400 );
      padding: 0 10px;
    }

    &__input{
        box-sizing: border-box;
        border-radius: 50px;
        background: #F4F4F4;
        border-radius: 50px;
        padding: 19px 20px;
        @include font(15px, 16px,400 );
        letter-spacing: 0.2;
     
    }
    &__message {
      padding: 23px 20px 23px 20px;
      resize: none;
      @include font(15px, 16px,400);
      background: #F4F4F4;
  }

  }