.nav {
  font-family: Graphic;
  @include font(15px,28px,400);
  @media screen and (max-width:992px) {
    display: none;
    justify-content: flex-start; 
  }

  &__list {
    display: grid; 
    grid-auto-flow: column;   
    @media screen and (max-width:992px){
      grid-auto-flow: row;  
    }
  }

  &__item {
    padding: 10px;
    @extend %position-center; 
    @include hover(transparent);
    @media screen and (max-width:992px){
      justify-content: flex-start;
    }

  }
  &__link {
    color: #fff;
  }

}
