.partners {
  display: grid;
  grid-template-columns: minmax(952px,1075px);
  grid-template-rows: 0.1px auto auto auto 0.1px;
  row-gap: 80px;
  justify-content: center;
  font-family: Graphic;
  padding: 0 20px;

  @include media-container-lg{
    justify-items: center
  };


  &__description {
    grid-row: 2/3;
    max-width: 522px;
    @extend %text-center;
 
  }

  &__items {
    grid-row: 3/4;
  }

  &__items-row {
    display: flex;
    height: 165px;
    justify-content: stretch;
    @media screen and (max-width: 992px) {
      flex-direction: column;
      row-gap: 30px;
      height: auto;
    }
  }

  &__item {
    border: 1px solid #d8d8d8;
    flex-grow: 1;
    display: grid;
    row-gap: 15px;
    justify-content: center;
    align-content: center;
    
   
    @media screen and (max-width:992px) {
      width: 275px; 
      padding: 25px 40px;
    }
      
  }

  &__item-title {
    @include font(16px,23px,400); 
  }

  &__btn {
    grid-row: 4/5;
    margin: auto;
  }
}
