.partners {
  @extend %general;
  grid-template-columns: minmax(952px,1075px);
  grid-template-rows: 0.1px auto auto auto 0.1px;

  @include media-container{
    justify-items: center
  };

  &__description {
    @extend %description;
  }

  &__items {
    grid-row: 3/4;
  }

  &__items-row {
    display: flex;
    height: 165px;
    justify-content: stretch;
    @media screen and (max-width: 992px) {
      flex-direction: column;
      row-gap: 30px;
      height: auto;
    }
  }

  &__item {
    border: $border;
    flex-grow: 1;
    display: grid;
    row-gap: 15px;
    justify-content: center;
    align-content: center;
    text-align: center;
    
    @media screen and (max-width:992px) {
      width: 275px; 
      padding: 25px 40px;
    }
      
  }

  &__item-title {
    @include font($f-size-7,$f-height-7,400); 
    color: $color-second;
  }

  &__btn {
    grid-row: 4/5;
    margin: auto;
  }
}
