.pricing {
  @extend %general;
  grid-template-columns: minmax(min-content, 1105px);
  grid-template-rows: 20px auto auto 20px;
  

  background-color: rgb(37, 43, 66);

  &__description {
    @extend %description;  
  }

  &__items {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, minmax(300px, 355px));
    grid-row: 3/4;
    align-items: center;
    

    @include media-container {
      row-gap: 50px;
      grid-template-columns: minmax(270px, 355px);
      grid-template-rows: auto auto auto;
      justify-items: center;    
      padding: 0;
    }
  }

  &__item {
    @include padding-vertical(40px);
    @include padding-horizontal(40px);

    margin: 10px;
    @media screen and (max-width: 992px) {
      justify-items: center;
      margin: 0;
    }
  }
}
