
.price-card {
    display: grid;
    grid-auto-flow: row;
    row-gap: 30px;
    border-radius: 10px;
    background-color: #fff;
    color: $color;
    font-family: Graphic;
   
    &__title {
        @include font($f-size-4,$f-height-4,700 );      
        @extend %text-center;
        margin-bottom: 6px;
    }

    &__subtitle {
       @include font($f-height-7,$f-height-7,400 ); 
       word-wrap: break-word;
       @extend %text-center;
       color: $color-second;
       
    }

    &__cost {
        display: grid; 
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        column-gap: 10px;
    }

    &__value {
        grid-column: 1/2;
        grid-row: 1/3;
        @include font($f-size-1, $f-height-1, 700);
        text-align: end;
    }

    &__currency {
        grid-column: 2/3;
        grid-row: 1/2;
        @include font($f-size-4,$f-height-4,700 ); 
        text-align: start;
        align-self: flex-end;
    }

    &__term {
        grid-column: 2/3;
        grid-row: 2/3;
        @include font($f-size-6,$f-height-6,400); 
        text-align: start;
    }

    &__feature {  
        @include font($f-size-7,$f-height-4,400); 
        @extend %text-center;
        @include padding-vertical(10px);
    }

    &__btn {
        max-width: 255px;
        width: 100%;
        height: 56px;
        padding: 16px 33px;
    
    }


    &--primary{
        @include padding-vertical(83px);     
        background-color: $blue-color;
        box-sizing: content-box;
        *{
            color: #fff;
        }
            
        button{
            background-color: #fff;
            color: $blue-color;
            &:hover{
                color: #fff;
            }
        }
    }

}


