
.testimonials {
  display: grid;
  grid-template-rows: 20px auto auto auto 20px;
  grid-template-columns: minmax(276px, 987px);
  justify-content: center;
  padding: 0 20px;
  row-gap: 80px;
  font-family: Graphic;

  &__description {
    grid-row: 2/3;
  }

  &__center {
    grid-row: 3/4;
    display: grid;
    row-gap: 50px;
    justify-items: center;
  }

  &__logo {
    height: 60px;
  }

  &__text {
    padding: 10px 0;
    @include font(28px, 40px, 400);
    @extend %text-center;
    @media screen and (max-width: 768px) {
      @include font(20px, 28px, 700);
    }
  }

  &__client {
    display: grid;
    grid-template-columns: 50px minmax(min-content, 123px);
    column-gap: 12px;
    align-items: center;
  }

  &__client-text {
    @include font(16px, 23px, 400);
    text-align: start;
  }

  &__btn {
    grid-row: 4/5;
    padding: 16px 48.19px;
    margin: auto;
    @media screen and (max-width:375px) {
      @include padding-horizontal(30px)
    }
  }
}
