.header {
  box-sizing: border-box;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr  minmax(318px,1210px) 1fr;
  grid-template-rows: auto auto;
  background: conic-gradient(from -70deg at 50% 90%,
  rgba(0, 0, 0, 0.1) -70deg 140deg,
  rgba(265,265,265, 1) 140deg),
  url('/imgs/header/80b7ece24a3d47292461f8e199ffdd36.jfif') no-repeat 50% /
  cover;
  background-image: url('/imgs/header/80b7ece24a3d47292461f8e199ffdd36.jfif');

  &__head {
    display: grid;
    grid-template-columns: 1fr 246px 1fr;
    grid-area: 1/2/2/3;
    align-items: center;
    padding: 53px 40px;
    position: relative;

    @media screen and (max-width:992px) {
      grid-template-columns: auto 1fr auto;
      padding: 16px 17px;
    }
  }


  &__body {
    padding: 80px 0;
    grid-area: 2/2/3/3;
    display: grid;
    justify-content: center;
    max-width: 826px;
    margin: auto;
    grid-template-rows: auto 92px 218px;
    row-gap: 40px;

    @media screen and (max-width:992px) {
      grid-template-rows: auto 92px 118px;
    }
  }

  &__nav{
    @media screen and (max-width:992px) {
      width: 100%;
      position: absolute;
      left: 0;
      top: 100%;
      text-align: start;
    }
  }

  &__logo {
    width: 100%;
    @media screen and (max-width:992px) {
      display: block;
      grid-column: 1/2;
      grid-row: 1/2;
     }
  }

  &__socials {
    justify-self: end;
  }

  &__btn {
      display: grid;
      margin: auto;  
  }
  &__burger{
    //hide burger
    display: none;
    position: absolute;
    right: 0;
  
    @media screen and (max-width:992px) {
      //show burger
     display: block;
     grid-column: 3/4;
    }

  }
 //show nav
  &__burger:hover ~ &__nav, &__nav:hover {
   
    @media screen and (max-width:992px) {
      display: block;
      background-color: rgba(22, 24, 22, 0.4);
     }
  }
}
