.feature-item {
    box-sizing: border-box;
    text-align: center;
    display: grid;
    row-gap: 10px;
    justify-items: center;
    &__img {
        width: 61px;
        text-align: center;
    }

    &__title {
      margin: 0;
      font: 20px/28px sans-serif;
      vertical-align: middle;
    }

    &__text {
        margin: 0;
        font: 18px/25px sans-serif;     
        vertical-align: middle;
    }
}