.price-card {
    display: grid;
    grid-auto-flow: row;
    row-gap: 30px;
    border-radius: 10px;
    background-color: #fff;
    color: rgba(55, 71, 84, 1);
    justify-content: center;

    &--primary{
        padding-top: 83px;
        padding-bottom: 83px;
        background-color: rgba(32, 145, 249, 1);
        box-sizing: content-box;
        color: #fff;    
    }

    &__title {
        font: 20px/28px sans-serif;
        font-weight: 700;
    }

    &__subtitle {
       font: 16px/23px sans-serif;
    }

    &__cost {
        display: grid; 
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        column-gap: 10px;
    }

    &__value {
        grid-column: 1/2;
        grid-row: 1/3;
        font: 74px / 84px sans-serif;
        font-weight: 700;
        text-align: end;
    }

    &__currency {
        grid-column: 2/3;
        grid-row: 1/2;
        font: 20px/28px sans-serif;
        font-weight: 700;
        text-align: start;
        align-self: flex-end;
    }

    &__term {
        grid-column: 2/3;
        grid-row: 2/3;
        font: 16px/23px open-sans;
        text-align: start;
    }

    &__features {
        padding: 0;
    }

    &__feature {  
        font: 15px/28px sans-serif;
        padding: 10px;
    }

    &__btn {
        width: 255px;
        height: 56px;
    }
}

