.testimonials {
  * {
    margin: 0;
  }
  display: grid;
  grid-template-rows: 20px auto auto auto 20px;
  grid-template-columns: minmax(20px,1fr) minmax(276px, 987px) minmax(20px,1fr);
  row-gap: 80px;
  justify-content: center;
  text-align: center;

  &__description {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  &__center {
    grid-row: 3/4;
    grid-column: 2/3;
    display: grid;
    row-gap: 50px;
    justify-items: center;
  }

  &__logo {
    height: 60px;
  }

  &__text {
    margin: 0;
    padding: 10px 0;
    font: 28px/40px sans-serif;

    @media screen and (max-width:768px){
        font: 20px/28px sans-serif;
        font-weight: 700;
    }
  }

  &__client {
    display: grid;
    grid-template-columns: 50px minmax(min-content, 123px);
    column-gap: 12px;
    align-items: center;
  }

  &__client-text {
    font: 16px/23px sans-serif;
    text-align: start;
  }

  &__btn {
    grid-row: 4/5;
    grid-column: 2/3;
    width: 276px;
    height: 60px;
    margin: auto;
  }
}
