.contact {
  * {
    margin: 0;
  }
  display: grid;
  grid-template-columns: minmax(378px, 453px) minmax(512px, 725px);
  grid-template-rows: 50px auto auto 50px;
  justify-content: center;
  column-gap: 50px;
  row-gap: 50px;
  @media screen and (max-width: 992px) {
    grid-template-columns: 20px 1fr 20px;
    column-gap: 0;
  }
  &__description {
    grid-row: 2/3;
    grid-column: 1/3;
    text-align: center;
    @media screen and (max-width: 992px) {
      grid-column: 2/3;
    }
  }

  &__left {
    grid-row: 3/4;
    @media screen and (max-width: 992px) {
      grid-column: 2/3;
      grid-row: 4/5;
    }
  }

  &__form {
    box-sizing: border-box;
    box-shadow: -1px -1px 0px 0px rgba(87, 91, 95, 0.3),
      2px 5px 10px 1px rgba(87, 91, 95, 0.3);
    border-radius: 13px;
    display: grid;
    row-gap: 45px;
    grid-template-rows: auto auto auto auto;
    padding: 50px;
    text-align: center;

    @media screen and (max-width: 992px) {
      max-width: 453px;
      margin: auto;
    }
  }

  &__right {
    margin: 28px 0;
    grid-row: 3/4;
    display: grid;
    grid-template-rows: 108px auto 60px;
    grid-template-columns: minmax(30px, 1fr) minmax(450px, 516px) minmax(
        30px,
        1fr
      );
    row-gap: 50px;
    @media screen and (max-width: 992px) {
      margin: 0;
      grid-template-columns: minmax(30px, 1fr) auto minmax(30px, 1fr);
      grid-column: 2/3;
      grid-row: 3/4;
      grid-template-rows: 60px auto;
    }
  }
  &__items {
    grid-column: 1/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: minmax(min-content, 313px) 137px 245px;
    @media screen and (max-width: 992px) {
      grid-row: 2/3;
      grid-template-columns: 1fr;
      row-gap: 10px;
      justify-items: flex-start;
    }
  }

  &__addres-item {
    display: grid;
    justify-items: center;
    text-align: center;
    padding: 10px;
    @media screen and (max-width: 992px) {
      text-align: left;
      grid-auto-flow: column;
      column-gap: 10px;
    }
  }
  &__item-text {
    font: 16px/23px sans-serif;
  }

  &__map {
    width: 100%;
    grid-row: 2/3;
    grid-column: 2/3;
    height: 343px;
    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  &__socials {
    grid-column: 1/4;
    grid-row: 3/4;
    display: grid;
    margin-left: 10px;
    align-items: center;
    @media screen and (max-width: 992px) {
      grid-row: 1/2;
      justify-content: center;
    }
  }
  &__btn {
    width: 145px;
    height: 56px;
  }
}
