@import url(./fonts.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url(./vars.css);
@import url(zero.css);


.btn{
    background-color: var(--btn__color);
    border-radius: 50px;
    font-size: var(--font__btn);
    line-height: 20px;
    color: white;
    font: var(--font__h3);
    padding: 10px 32px;
}
.socials {
  display: grid;
  column-gap: 24px;
  grid-auto-flow: column;
  align-items: center;
}

.description {
  text-align: center;
  
}
.description__title {
  font: var(--font__h2);
  padding: 7px;
}
.description__title--lg {
  font-size: calc(50px + 24 * (100vw / 1777));
  line-height: calc(60px + 24 * (100vw / 1777));
  font-weight: 700;
}
.description__subtitle {
  font: var(--font__h4);
  padding: 7px;
}
.hero{
    padding: 226px 20px;
}
.hero__container {
    margin: auto;
    width: fit-content;
    padding: 43px 0;
    border: solid;
    display: grid;
    grid-template-columns: minmax(300px,532px) minmax(20px,50px)  minmax(621px,661px);
    
    
}
.hero__left {
    grid-column: 1/2;
    border: solid;
}
.description {
}
.hero__description {
    text-align: start;
}
.hero__right {
    grid-column: 3/4;
    border: solid;
    
}
.hero__img {
    max-width: 100%;
}

@media screen and (max-width:992px) {
    .hero{
        padding: 30px 20px;
    }
    
}