@import url(./fonts.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url(./vars.css);
@import url(zero.css);

.description {
  text-align: center;
  display: grid;
  row-gap: 7px;
}
.description__title {
  font: var(--font__h2);
}
.description__subtitle {
  text-align: center;
  font: var(--font__h4);
}
.feature__container {
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 80px;
  column-gap: 10px;
  justify-items: center;
  text-align: center;
}
.feature__description {
  max-width: 552px;
  grid-row: 1/2;
}
.feature__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 52px;
}
.feature__item {
  flex: 0 1 255px;
}
.feature-item {
  display: grid;
  row-gap: 10px;
  justify-items: center;
}
.feature__video {
  max-width: 1177px;
  grid-row: 3/4;
  position: relative;
}
.video__player {
  max-width: 100%;
}
.video__btn {
  position: absolute;
  background-color: var(--btn__color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  width: 17vw;
  max-height: 300px;
  height: 17vw;
  border-radius: 50%;
}
.video__arrow {
  position: absolute;
  width: 20%;
  left: 50%;
  top: 50%;
  transform: translate(-45%, -50%);
}
.feature-item__title {
    font: var(--font__h3);
}
.feature-item__text {
    font: var(--font__p);
}


@media screen and (max-width: 992px) {
  .description__subtitle--lg {
    display: none;
  }
  .description {
    width: 285px;
  }
  .feature__video{
    grid-row: 2/3;
  }
  .feature__items {
    grid-row: 3/4;
  }

}
@media screen and (max-width:768px){
  .feature__container{
    row-gap: 50px;
  }
}