@import url(./fonts.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url(./vars.css);
@import url(zero.css);


.header__container {
  height: auto;
  display: grid;
  color: #fff;
  grid-template: 156px auto/ 1fr minmax(992px, 1440px) 1fr;
  background: conic-gradient(
      from -70deg at 50% 90%,
      white,
      rgba(256, 256, 256, 0) -70deg 140deg,
      white 140deg
    ),
    url('/imgs/header/80b7ece24a3d47292461f8e199ffdd36.jfif') no-repeat top /
      cover;
      background-clip: content-box;
}
.header__head {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template: auto/ minmax(350px, 437px) 1fr auto;
  align-items: center;
  padding: 0 40px;
}
.header__nav {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
.header__nav-link {
  display: grid;
  justify-content: center;
  align-items: center;
  font: var(--font__link);
  padding: 10px 10px;
}
.header__logo{
    padding: 30px;
}

.header__nav-socials {
  display: none;
  justify-content: start;
  padding: 10px 10px;
}
.header__burger {
  display: none;
}
.header__body {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 80px 0;
  display: grid;
  grid-template-rows: auto auto 218px;
  row-gap: 40px;
}
.header__description {
  margin: auto;
  max-width: 826px;
}

.header__btn{
    margin:auto
}
@media screen and (max-width: 992px) {
  .header__burger {
    display: grid;
    justify-content: end;
    align-items: center;
    order: 1;
    background: transparent;
    height: 100%;
  }
  .header__burger:hover ~ .header__nav,  .header__nav:hover  {
    display: grid;
    background-color: rgba(22, 24, 22, 0.4);
  }
  .header__nav-link:hover,
  .socials__link:hover {
    background-color: rgba(22, 24, 22, 0.7);
  }
  .header__container {
    grid-template: auto auto/ 1fr;
    padding: 0 20px;
    background-clip: border-box;
  }
  .header__logo{
      padding: 30px 0;
  }
  .header__head {
    grid-column: 1;
    grid-row: 1;
    grid-template: auto auto auto/ 1fr 100px;
    position: relative; 
    padding: 0; 
  }
  .header__nav {
    display: none;
    order: 1;
    grid-column: 1/3;
    grid-auto-flow: row;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
  }
  .header__socials {
    display: none;
  }
  .header__nav-socials {
    display: grid;
  }
  .header__nav-link {
    justify-content: left;
  }
  .header__body {
    grid-column: 1;
    grid-row-start: 2;
  }
  .description__title--lg {
    font: var(--font__h2);
    padding: 7px;
  }
  .description__subtitle--lg{
      display: none;
  }
}
