
@mixin font ($size,$height,$weight) {
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
}

@mixin hover($color){
    transition: .7s;

    &:hover{
        @if ($color == transparent) {
            background-color: rgba(22, 24, 22,0.7);
        }@else{
            background-color:  darken($color, 20%);
        }
        
    }
    
}