
@mixin font ($size,$height,$weight) {
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
}



@mixin hover($color){
    &:hover{
        transition: .7s;
        @if ($color == transparent) {
            background-color: rgba(22, 24, 22,0.7);
        }@else{
            background-color:  darken($color, 20%);
        }       
    }    
}

@mixin media-container-lg($width : 992px) {
  
    @media screen and (max-width:$width) {
        grid-template-columns: 1fr;
        padding: 0 20px;
        justify-content: center; 
        
        @content       
    }
    
}

@mixin padding-horizontal($l, $r:$l){
    padding : {
        left: $l;
        right: $r;
    }
}

@mixin padding-vertical($t,$b:$t){
    padding : {
        top: $t;
        bottom:$b;
    }
}