
%position-center{
    display: grid;
    justify-content: center;
    align-items: center;
}

%text-center{
    margin: auto;
    text-align: center;
}


%general-padding{
    padding: 0 20px;
}


%description{
    max-width: 552px;
    @extend %text-center;
    grid-row: 2/3;
}


%general{
    font-family: Graphic, sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    row-gap: 80px;
    padding: 0 20px;
}

