$blue-color: rgb(64, 158, 247);
$bckg-color:#fff;
$price-bckg:rgba(37, 43, 66, 1);
$footer-bckg:rgba(37, 43, 66, 1);
$drk-text:rgba(55, 71, 84, 1);
$title-text:rgba(37, 43, 66, 1);
$font-link:15px/28px Graphic sans-serif;
$font__h4:28px/40px Graphic;
$font-h2:48px/55px Graphic;
$font-p: 18px/25px Graphic;
$font-btn:20px/28px Graphic;

$font__h3: 20px/28px Graphic;
$input-color:#F4F4F4;
$font__h6: 16px/23px Graphic;
$font-field: rgba(24, 23, 29, 1) 16px/16px Graphic;
$pricing-bckg:rgba(37, 43, 66, 1);

$font-h1: calc(50px + 24 * (100vw / 1777));